<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

@section sidebar {
    <img src="~/bccclogo.png" alt="Beaver Creek Country Club" class="img-responsive" />
}

@section scripts {
    <script src="~/assets/vendor.js"></script>
    <script src="~/assets/home/home.js"></script>
}