body {
    background-color: #ddd;
}

.page-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader {
    border: 16px solid #CCCCCC;
    border-top: 16px solid #770000; 
    border-radius: 50%;
    width: 360px;
    height: 360px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
