@page "/Admin/Seasons/{seasonId}/Weeks/{weekId}/Scores"
@using BeaverLeague.Components
@model BeaverLeague.Web.Pages.Admin.Seasons.Weeks.ScoresModel
@{
    ViewData["Title"] = "Scores";
}

<h1>Scores for </h1>

@(await Html.RenderComponentAsync<Component1>(RenderMode.Server))

@section scripts {
    <script src="~/_framework/blazor.server.js"></script>
    <script>
        window.BeaverLeague.Components.Component1.weekdId = function () {
            return @Model.SeasonID;
        };
    </script>
}

