@{
    ViewBag.Title = "Manage Golfers";
}

<h3>All Golfers</h3>

<div id="react-golfer-list">

</div>

<div><a class="btn btn-primary" asp-action="Create">Add a golfer</a></div>
@section footer {
    <div class="text-warning">*Inactive golfers are inactive for the entire season</div>    
}

@section scripts {
    <script src="~/Assets/Vendor.js"></script>
    <script src="~/assets/Admin/ManageGolfers/List.js"></script>
}
