@page
@model BeaverLeague.Web.Pages.Admin.Seasons.ManageModel
@{
    ViewBag.Title = "Manage Season";
}

<h2>Season Management</h2>

Current Season: <div id="current-season">@Model.CurrentSeason.Name</div>

