@page
@model BeaverLeague.Web.Pages.Admin.Seasons.ManageModel
@{
    ViewBag.Title = "Manage Season";
}

<div class="row pt-4">
    <div class="col-12">
        <h1>Season Management</h1>
    </div>
</div>
<div class="row pt-4">
    <div class="col-2">
        <div class="list-group">
            <a asp-page="/Admin/Seasons/Edit" title="Create a season"
               class="list-group-item list-group-item-action list-group-item-dark text-primary">
                <i class="fas fa-plus-circle pr-1"></i><span>New Season</span>
            </a>
        </div>
    </div>
    <div class="col-10">
        <h3>Current Season: <span id="current-season">@Model.CurrentSeason.Name</span></h3>
        <table class="table table-striped table-hover" id="seasons">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var season in Model.Seasons)
                {
                    <tr>
                        <td>@season.Name</td>
                        <td>
                            <a asp-page="/Admin/Seasons/Edit" asp-route-id="@season.Id" class="btn btn btn-secondary">
                                <span class="fa fa-edit pr-2" title="Edit"></span>Edit
                            </a>
                            <a asp-page="/Admin/Seasons/Detail" asp-route-id="@season.Id" class="btn btn btn-secondary">
                                <span class="fa fa-search pr-2" title="Details"></span>Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>