<NavMenu />

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <Router AppAssembly=typeof(Program).Assembly />
        </div>
        <div class="col-md-2">
            side
        </div>
    </div>
    <div class="row">
        <hr />
        foot
    </div>
</div>