<NavMenu />

<div class="container">
    <div class="row">
        <div class="col">
            <Router AppAssembly=typeof(Program).Assembly />
        </div>
    </div>
    <div class="row">        
        <div class="col">
            footer
        </div>
    </div>
</div>