<nav class="navbar bg-dark">
    <a class="navbar-brand text-white" href="/">
        <img src="/bccclogo-small.png" />
        BCFL        
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/Roster">Roster</a>
        </li>
    </ul>
</nav>