@page "/roster"
@inject ApiClient apiClient

<h3>Golfers</h3>

<table class="table">
    <thead class="thead-dark table-striped">
        <tr>
            <th>Last</th>
            <th>First</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var golfer in Golfers.OrderBy(n => n.LastName))
        {
            <tr>
                <td>@golfer.LastName</td>
                <td>@golfer.FirstName</td>
                <td>
                    <span class="oi oi-pencil" title="Edit"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
 
<a href="/newgolfer" class="btn btn-primary">New Golfer</a>

@functions { 

    Golfer[] Golfers = new Golfer[0];

    override protected async Task OnInitAsync()
    {
        Golfers = await apiClient.GetAllGolfers();        
    }
}