.suggestions {
    position: relative;
}

.suggestions-content {
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.validation-errors {
    color: red;
}
.score {
    font-size: 1.4em;
}
