@inherits BlazorLayoutComponent

    <NavMenu />

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                @Body
            </div>
            <div class="col-md-2">
                side    
            </div>
        </div>
        <div class="row">
            <hr />
            foot
        </div>
    </div>


