<h1>Admin Activities</h1>
<div class="container-fluid">
    <div class="row">
        <a asp-controller="ManageGolfers" asp-action="List"
            class="btn btn-block btn-primary">
            Manage Golfers
        </a>
    </div>
</div>