body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #335533;
  background-color: #ccccaa;
}

a {
  color: #005500;
}

.navbar-default {
    background-color: #004400;
    border-color: #009900;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-text {
    color: #ffffff;
}

.btn-default {
    background-color: #e4f1c3;
    border-color: #949183;
}

.btn-primary {
    background-color: #59794e;
    border-color: #39391e;
}

.btn-default:hover {
    background-color: #f5f2d4;
}

.btn-primary:hover {
    background-color: #6a8a5f;
}

.jumbotron {
    background-color: #D8F1D3
}

.table-hover > tbody > tr:hover {
    background-color: #d8f1d3;
}