<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <base href="/" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/site.css" rel="stylesheet" />
</head>

<body>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                    <a class="navbar-brand" asp-page="/Index">
                        <img src="/bccclogo.png" alt="Beaver Creek Country Club">
                        Beaver Creek Fun League
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#menu">
                        <span><i class="fas fa-bars"></i></span>
                    </button>

                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-page="/Admin/Season/Manage">
                                    Admin
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-page="/Admin/Golfers/Manage">Golfers</a>
                                    <a class="dropdown-item" asp-page="/Admin/Seasons/Manage">Seasons</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <div class="container pt-3">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
