@using System.Threading.Tasks
@using BeaverLeague.Web.Features.Admin.ManageSeason
@model BeaverLeague.Web.Features.Admin.ManageSeason.CurrentSeasonViewModel

@if (Model.CurrentSeason == null)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <div>No Active Season</div>
        </div>
        <div class="panel-body">
            <a asp-controller="ManageSeason" asp-action="Create" class="btn btn-primary">Create A New Season</a>
        </div>
    </div>
}
else
{
    <h3>@Model.CurrentSeason.Name</h3>
}