
@*@{
    ViewBag.Title = "Manage Season";
}


@if (Model.CurrentSeason == null)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <div>No Active Season</div>
        </div>
        <div class="panel-body">
            <a asp-controller="ManageSeason" asp-action="Create" class="btn btn-primary">Create A New Season</a>
        </div>
    </div>
}
else
{
    <h3>@Model.CurrentSeason.Name</h3>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Current Matches</h4>
        </div>
        <div class="panel-body">
            @if (!Model.MatchSets.Any())
            {
                <div class="text-warning">No current matches</div>
            }
            else
            {
                <div>Matches go here</div>
            }
        </div>
        <div class="panel-footer">
            @if (Model.MatchSets.Any())
                {
                <a asp-controller="ManageMatches" asp-action="Edit"
                   asp-route-matchsetid="@Model.MatchSets.OrderByDescending(m => m.MatchSetNumber).First().Id"
                   class="btn btn-primary">
                    Edit Matchups
                </a>
            }
            <form asp-controller="ManageMatches" asp-action="Create"
                  asp-route-seasonid="@Model.CurrentSeason.Id" method="post">
                <input type="submit" class="btn btn-primary" value="Create New Week" />
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>All Matches By Week</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr></tr>
                @foreach (var matchset in Model.MatchSets)
            {
                    <tr>
                        <td>@matchset.MatchSetNumber</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}*@