@typeparam T
@inherits ComboBoxBase<T>

<div>
    <input type="text" autocomplete="off" class="form-control"
           placeholder="@Placeholder"
           @onfocusin="OnFocusIn"
           @onfocusout="OnFocusOut" 
           @oninput="OnInput" 
           @bind-value="CurrentValueAsString" />

    @if (SuggestedItems.Any())
    {
        <div class="suggestions">
            <ul class="list-group suggestions-content">
                @foreach (var item in SuggestedItems)
                {
                    <li class="list-group-item" @onmousedown="@(e => OnSelectItem(item))">
                        @if (ItemTemplate != null)
                        {
                            @ItemTemplate(item.Value);
                        }
                        else
                        {
                            <span>@item.Key</span>
                        }
                    </li>
                }
            </ul>
        </div>
    }
</div>

