@typeparam T
@inherits ComboboxBase<T>

<div>
    <div>
        <input class="form-control" type="text" autocomplete="off"
               placeholder="@Placeholder"
               @onfocusin="OnFocusIn"
               @onfocusout="OnFocusOut"
               @oninput="OnChange" />

        @if (SuggestedItems.Any())
        {
            <div class="suggestions">
                <ul class="list-group suggestions-content show">
                    @foreach (var item in SuggestedItems)
                    {
                        <li class="list-group-item">
                            @ItemTemplate(item)
                        </li>
                    }
                </ul>
            </div>
        }

    </div>
</div>
